# Dependencies
node_modules

# Git
.git
.gitignore

# Environment variables
.env
.env.*

# Logs
*.log
logs

# Test files
coverage
.nyc_output

# IDE files
.vscode
.idea

# OS files
.DS_Store
Thumbs.db



# Docker
.dockerignore

README.md